* {
	box-sizing: border-box;
}
body {
	font-size: 100%;
	font-family: Comic Sans MS;
}
h1 {
	text-align: center;
	font-size: 175%;
}
section {
	background-color: Gray;
	border: 1px solid black;
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 250px;
    overflow: hidden;
}
header {
	float: right;
	border: 1px solid black;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 125%;
	font-weight: bold;
}
p {
	padding: 10px;
	margin-top: 30px;
}
#h1 {
		background-color: LightPink;
}
#h2 {
	background-color: LightGreen;
}
#h3 {
	background-color: PaleGoldenRod;
}
/****************Simple Responsive Framework****************/
.row {
	width: 100%;
}

/****************Desktop****************/
@media (min-width: 992px) {
	.col-ld-1, .col-ld-2, .col-ld-3, .col-ld-4, .col-ld-5, .col-ld-6, .col-ld-7, .col-ld-8, .col-ld-9, .col-ld-10, .col-ld-11, .col-ld-12 {
		float: left;
		
	}
	.col-ld-1 {width: 8.33%;}
	.col-ld-2 {width: 16.66%;}
	.col-ld-3 {width: 25%;}
	.col-ld-4 {width: 33.33%;}
	.col-ld-5 {width: 41.66%;}
	.col-ld-6 {width: 50%;}
	.col-ld-7 {width: 58.33%;}
	.col-ld-8 {width: 66.66%;}
	.col-ld-9 {width: 75%;}
	.col-ld-10 {width: 83.33%;}
	.col-ld-11 {width: 91.66%;}
	.col-ld-12 {width: 100%;}
}

/****************Tablet****************/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		
	}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 48.66%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}

/****************Mobile****************/
@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
		
	}
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}